button, .btn {
    background-color: $bgcolor-btn;
    color: $fontcolor-white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6rem;
    border: none;
    border-radius: 17px;
    text-align: center;
    min-width: 150px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.btn-cross {
    max-width: 10px;
    background-color: $bgcolor-sand;
    color: $fontcolor-black;
    text-align: end;
    padding: 0;
    margin: 0;
}

img {
    max-width: 20rem;
    border-radius: 3px;
}

iframe {
    width: 95%;
}